<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iotControl</title>

    <link href="{{  url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    <link href="{{  url_for('static', filename='css/control.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body onload="init()">

    <header>
        <h3>iotControl</h3>
    </header>

    <section>
        <table>
            <thead>
                <tr>
                    <!--<th>code</th>-->
                    <th>name</th>
                    <th>전원</th>
                    <th> cur </th>
                    <th> des </th>
                    <th>s_Time</th>
                    <!--<th>e_Time</th>-->
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr id="{{row.code}}" style="border: black solid 2px;">
                    <td style="display: none;">{{row.code}}</td>
                    <td>{{row.control}}</td>
                    <td id="onoff{{row.code}}" class="onoff">{{row.onoff}}</td>
                    <td class="value1">{% if row.onoff == "N" %}    {% else %} {{row.value}} {%endif%} </td>
                    <td class="value2">{% if row.onoff == "N" %}    {% else %} {{row.value2}} {%endif%} </td>
                    <td class="startTime">{% if row.onoff == "N" %} {% else %} {{row.startTime}} {%endif%}</td>
                    <!--<td>{{endTime}}</td>-->
                    <tr class="onoffRow">
                        <td colspan="2"><button class="onoffButton"id="{{row.code}}">ON/OFF</button></td>
                        <td colspan="3" class="onoff"><img class="controlImage" src="{{url_for('static', filename=row.control  ) }}.jpg "></td>
                    </tr>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <script>
        $('.onoffButton').click(function() {
            var id = this.id;   // 코드
            var onoff = $('tr#'+id+' > td#onoff'+id).text();              
            
            // JSON
            var postData = {
                'id' : id, 'onoff' : onoff
            }
            
            $.ajax({
                type : 'POST',
                url : '{{url_for("ajax")}}',
                data: JSON.stringify(postData),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    // 화면 updqte
                    $("tr#"+data.result2['code'][0]+" > td.onoff").html(data.result2['onoff'][0])
                    if (data.result2['onoff'][0] == "Y") {  // 전원 on
                        if(data.result2['code'][0] != "004") {
                            $("tr#"+data.result2['code'][0]+" > td.value1").text(data.result2['value'][0]); // cur
                            $("tr#"+data.result2['code'][0]+" > td.value2").text(data.result2['value2'][0]);    // des
                        }
                        $("tr#"+data.result2['code'][0]+" > td.startTime").text(data.result2['startTime'][0]);  // startTime
                        $("tr#"+data.result2['code'][0]+" > .onoff").addClass("on");  // 전원
                        
                    } else if (data.result2['onoff'][0] == "N") {   // 전원 off
                        $("tr#"+data.result2['code'][0]+" > td.value1").text("");   // cur
                        $("tr#"+data.result2['code'][0]+" > td.value2").text("");   // des

                        $("tr#"+data.result2['code'][0]+" > td.startTime").text("");   // startTime
                        $("tr#"+data.result2['code'][0]+" > .onoff").removeClass("on");   // 전원
                    }
                    
                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
            
            if($(this).parent().parent().parent().find("#onoff"+id).html() == "N") // 꺼져있던 값이면
            {   // 이제 켜지니까 on 추가
                $(this).parent().next().addClass("on");
            } else {    // 꺼지니까 on 제거
                $(this).parent().next().removeClass("on");
            }
        });

        // 초기화 함수
        function init() {
            // 도어락 
            $("tr#004 .value1").text("");
            $("tr#004 .value2").text("");
            for(i = 1; i <= 4; i++) {
                if ($("tr#00"+i).children(".onoff").text() == "Y") {
                    $("tr#00"+i).children(".onoff").addClass("on");
                    $("tr#00"+i).next().children(".onoff").addClass("on");
                }
            }
        }

        // 네트워크 데이터 가져오기
        fetch("https://console.dialogflow.com/api-client/demo/embedded/8d62168a-49ed-4591-9a1a-366e9ba6825b").then(function(response) {
            return response.json();
        }).then(function(myJson) {
            console.log(JSON.stringify(myJson));
        });
        
    </script>
    
    <div id="chatbot">
        <iframe
            allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/8d62168a-49ed-4591-9a1a-366e9ba6825b">
        </iframe>
    </div>
    <div style="height: 100px; text-align: center; vertical-align: middle;">
        <a href="/menuHome" >Home</a>
    </div>
</body>
</html>
