* {margin: 0; padding: 0;}
header {
    text-align: center;
    color: white;
    background-color: #007bff;
    padding-top: 3%;
    padding-bottom: 3%;
}

section {
    padding: 2%;
    text-align: center;
}
/* iot 버튼 */
section .iot_button {
    text-align: center;
    display: inline-block;
    width: 46%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid lightgray;
    transition: background-color 0.5s, color 0.5s;
    margin:1%;
}

section .iot_button:hover {
    background-color: #1c89fd;
    color :white;
}

a:active, a:link, a:visited{text-decoration: none; color:black;}

/* 메뉴 홈 버튼 */
a.menuHomeButton {
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 25px;
    border: 1px solid lightgray;
    background-color: aliceblue;
    border-radius: 50%;
    transition: background-color 0.5s, color 0.5s;
}
a.menuHomeButton:hover{
    background-color: #1c89fd;
    color :white;
}
/* list page */
section table{
    margin: 0 auto;
    
}
table td, table th {
    padding : 1% 10px; 
    width: 0%;
}
table, table tr , table td, table th{
    border : 1px solid lightgray;
}
thead {
    background-color : skyblue;
}